body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size: 50px;
}
.orange{
    color:orange;
}
.flexibility{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width:50%;
    padding-left: 5%;
}
.half-width img{
    width:80%;
}
.link-button{
    color:white;
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding:10px 40px;
    border-radius: 5px;
    display: inline-block;
    margin-top:5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
/*section-Dream-Big*/
.Dream-Big h2{
    font-size: 40px;
}
.btn{
    background-image: linear-gradient(rgb(93, 93, 255),rgb(104, 40, 104));
}
.Dream-Big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exp-border{
    width:40%;
    margin-left:5%;
    margin-right: 5%;
    padding:5px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 5%;
}
.Experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#border-type1{
    border-left: 8px solid;
    border-image: linear-gradient(rgb(128, 45, 45),cyan);
    border-image-slice: 1;
}
#border-type2{
    border-left: 8px solid;
    border-image: linear-gradient(rgb(146, 27, 206),cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
    color:rgb(118, 99, 99)
}